@media screen and (max-width: 1400px) {
  .container {
    max-width: calc(100% - 180px);
  }

  .view{
    padding-left: 5rem !important;
  }

}

@media screen and (max-width: 1200px) {

  .grid {
    gap: 20px;
  }

  .home{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .home__data {
    padding-right: 40px;
  }

  .home__title {
    font-size: var(--h1-font-size) !important;
  }

  .home__description {
    font-size: var(--normal-font-size);
  }

  .skills__container {
    row-gap: 32px;
  }

  .progress__circle {
    width: 100px;
    height: 100px;
  }

  .skills__title {
    margin-top: 20px;
  }

  .resume__icon {
    width: 36px;
    height: 36px;
    line-height: 38px;
  }

  .resume__item {
    padding-left: 55px;
  }

  .portfolio__modal-content {
    max-width: 600px;
  }

  .modal__close {
    width: 40px;
    height: 40px;
  }

  .form__input-group {
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 24px;
  }

  .form__input-group .form__input-div:last-child {
    grid-column: 1/-1;
  }

  .form__input-div {
    margin-bottom: 24px;
  }

}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 720px;
  }

  .color__block {
    left: -85% !important;
  }

  .home {
    padding: 20px;
    grid-template-columns: 5fr 7fr;
    justify-items: center;
  }

  .home__data {
    padding-right: 0;
  }

  .section {
    padding-block: 50px;
  }

  .section__title {
    margin-bottom: 40px;
  }

  .info__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
  }

  .about__container {
    row-gap: 40px;
  }

  .subtitle__center {
    margin-bottom: 45px;
  }

  .skills__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 70px;
  }

  .resume__container {
    row-gap: 45px;
  }

  .resume__item:not(:last-child) {
    margin-bottom: 45px;
  }

  .separator {
    margin: 65px auto 50px !important;
  }

  .portfolio__container {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .contact__container {
    grid-template-columns: 1fr !important;
    row-gap: 40px;
  }

  .contact__socials {
    justify-content: center;
    column-gap: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 760px !important;
  }
  .home {
    grid-template-columns: 1fr !important;
    justify-items: center;
    row-gap: 10px;
  }

  .color__block {
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -95% !important;
    left: 53% !important;
    transform: rotate(90deg) !important;
  }

  .home__img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin-top: auto;
  }

  .home__content {
    max-width: 500px;
    text-align: center;
  }

  .home__title {
    padding-left: 0;
  }

  .home__title::before {
    left: 50px !important;
  }

  .home__title div {
    display: block;
  }

  .container {
    max-width: 540px;
  }

  .portfolio__modal-content {
    padding: 25px 20px;
  }

  .modal__close {
    top: -10% !important;
    left: 0% !important;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .nav__link {
    column-gap: 20px;
  }

  .nav__icon,
  .nav__name {
    font-size: var(--h1-font-size);
  }

  .portfolio__container {
    grid-template-columns: 1fr !important;
  }

  .modal__list {
    grid-template-columns: 1fr !important;
  }

  .modal__img {
    height: 300px;
  }

  .form__input-group {
    grid-template-columns: 1fr !important;
  }

  .contact__socials {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    justify-items: center;
    row-gap: 20px;
    column-gap: 50px !important;
  }

  .theme__img {
    width: 25px;
  }

  .style__switcher-toggler,
  .theme__toggler,
  .nav__toggle {
    width: 40px;
    height: 40px;
  }

  .nav__toggle span {
    width: 20px;
    margin-bottom: 5px;
  }

  .animate-toggle span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .animate-toggle span:last-child {
    transform: rotate(-45deg);
  }

  .style__switcher-toggler {
    top: 15%;
  }

  .theme__toggler {
    bottom: 15%;
  }

  .style__switcher-close {
    top: 5%;
  }
}

@media screen and (max-width: 450px) {
  .container {
    max-width: 400px;
  }

  .home {
    padding: 20px !important;
  }

  .home__content {
    margin-block: auto;
    text-align: left;
  }

  .home__title {
    font-size: var(--h1-font-size) !important;
    padding-left: 0px !important;
  }

  .home__title::before {
    display: none;
  }

  .color__block {
    top: -85% !important;
  }

  .home__description {
    text-align: justify;
  }

  .info__list {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
  }

  .info__title {
    display: block;
    margin-bottom: 4px;
  }

  .contact__socials {
    row-gap: 10px !important;
  }

  .view{
    padding-left:1rem !important;
  }
}

@media screen and (max-width: 350px) {
  .info__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .contact__socials {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    row-gap: 15px;
  }

  .view{
    padding-left: 0rem !important;
  }
}
